<!DOCTYPE html>

<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ naziv }}</title>
</head>

    <body class="page">
        <div class="panel title_panel">{{ naziv }}</div>
        <div class="panel content_panel">
            {% if mod == 0 %}
            Cijena usluge {{ cijena }} Kn
                <a class="button">Ok</a>
            {% else  %}
                Hvala!
            {% endif  %}   
        </div>
        
    </body>
</html>